<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bun_ex1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    
</head>

<body>
   
    <header style="   box-shadow:  #9fc8d6  0px 10px 50px;">
          <nav class="navbar navbar-expand-xl navbar-light " style=" background-color:white;   font-size:large;">
                <a class="navbar-brand" href="#"><img  src="/Photos/chrosu logo transparent.png" alt="chorusLogo" id="logo" style=" width: 12vw; height:3vw;"/> </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                          <span class="navbar-toggler-icon"></span>
                </button>

<div class="collapse navbar-collapse" id="navbar" style="color:#E3E7F1;">
<ul class="nav navbar-nav" >
          
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbar" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#335175; " >
            PRODUSE
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" >
            <li><a class="dropdown-item" href="#" >Aparate electrice</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Acționări electrice</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Automatizări</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Protecție</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Măsură și control</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Mașini electrice</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Aparataj ultraterminal</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Iluminat</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cabluri și stâlpi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" style="color:#BD5F40; font-weight : 700;">Promoții</a></li>
          </ul>
          </li>
     
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#335175;">
            PRODUCĂTORI
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
               <li><a class="dropdown-item" href="#">Parteneri</a></li>
                <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cataloage</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Informații</a></li>
            </ul>
            </li>

                       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#335175;">
   CLIENȚI
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#" >Feedback</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Informatii utile</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Link-uri utile</a></li>
            </ul>
            </li>
 
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#335175;">
            DESPRE NOI
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
               <li><a class="dropdown-item" href="#">Lucrarile noastre</a></li>
                <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cultura Chorus</a></li>
          </ul>
          </li>

        <li class="nav-item" >
          <a class="nav-link" href="#" style="color:#335175;">
            CONTUL MEU
          </a>        
          </li>

                
       <li class="nav-item">
          <a class="nav-link" href="#" style="color:#335175;">
           CARIERE
          </a>
          </li>

          <li class="nav-item ">
          <a class="nav-link" href="#" style="color:#335175;">
            CONTACT
          </a>
          </li>      
   

      
       

</ul></div></nav>
</header>


<div class="containerBody"  >
        <main role="main" class="pb-3">
           @RenderBody()
        </main>
   </div>

  

<footer class="border-top footer text-muted" style="background-color: #ffcc00;">
    <div class="container" >
            &copy; 2021 - bun_ex1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
    


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
@await RenderSectionAsync("Scripts", required: false)

<style>

   .dropdown-menu .dropdown-item{
     color:#335175;
   
   
      font-size: 19px; 

     
   }


    .dropdown:hover .dropdown-menu{
        display: block;
        background-color: #E3E7F1;
       border: solid;
      
       
        margin-top: 0;   
         animation: rotateY 500ms ease-in-out forwards;
    transform-origin: top center;

       
    }
    .dropdown:hover .dropdown-menu .dropdown-item:hover{
        color:#77a9e6;   
       transition: 0.3s ease-in-out;

        font-size: 18px; 
         
       

    }
   

    .nav-link:hover{
        color:#77a9e6;   
        transition: 0.3s ease-in-out;
        font-size: 17.5px; 
        
         
    }

    li {
    margin-right: 50px;
    }

</style>
<script>
$(document).ready(function(){
    $(".dropdown").hover(function(){
        var dropdownMenu = $(this).children(".dropdown-menu");
        if(dropdownMenu.is(":visible")){ 
            dropdownMenu.parent().toggleClass("open");
        }
    });
});     
</script>
<script>
       
    $('.dropdown').mouseenter(function(){
    if(!$('.navbar-toggle').is(':visible')) { // disable for mobile view
        if(!$(this).hasClass('open')) { // Keeps it open when hover it again
            $('.dropdown-toggle', this).trigger('click');
        }
    }
});;
 
  </script>


</body>
</html>

