
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body > 
    <div class="containerIndex">
        <p id="anunt">Suntem intotdeauna aproape de clienti si incercam sa rezolvam fiecare solicitare in cel mai bun mod posibil, oferind totodata conditii convenabile la achizitionarea produselor.</p>
 
  

    </div>
    

</body>


