 <!DOCTYPE html>
<html lang="en">
 <head>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <link rel="stylesheet" href="~/css/indexPage.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    </head> 

<body> 
    <div id="carouselExampleDark" class="carousel carousel-fade" data-bs-ride="carousel" style="position:absolute; margin:auto; background-color: #9cd7f2; ">


  <div class="carousel-inner" >
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="~/Photos/bec1.jpg" class="d-block " alt="ex1" style="width:100vw; height:500px; ">
     
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="~/Photos/bec2.jpg" class="d-block "alt="ex2" style="width:100vw; height:500px; " >  

       
    </div>
    <div class="carousel-item" data-bs-interval="3000"  >
      <img src="~/Photos/bec3.jpg" class="d-block " alt="ex3"style="width:100vw; height:500px; ">    
      
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  
  </button>
 
 <div class="containerIndex">

     <div class="content" style="margin-top:30px;">
<h1><span class="text">Vizitati-ne ofertele chiar acum!</span></h1>
</div>
   
<div class="boxes" style="margin-top:30px;">
    <div class="box"> Peste 50.000 de echipamente electrice! </div>
    <div class="box">Acoperire nationala</div>
    <div class="box">Contacteaza-ne</div>

</div>

@*
<div class="circle">
  <p class="circle-content">
      <br />
      Peste 50.000 de echipamente si acoperire nationala!
      <br /> <br /> 

  <a href="/buttons/54">
  <button class="bn54">
    <span class="bn54span">Vezi catalog</span>
  </button>
</a>
      <br /><br />
</p>
</div>



*@



 
</div>
</div> 
    
</body>
<style></style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    <script type="text/javascript">

        $(document).ready(function () {
            $('.carousel').carousel();
        });


    </script>


    </html>