 <!DOCTYPE html>
<html lang="en">
 <head>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <link rel="stylesheet" href="~/css/indexPage.css" asp-append-version="true" />

    </head> 

<body> 
    <div class="containerIndex">
       <h1><span>Vizitati-ne ofertele chiar acum!</span></h1>
      

 
 <div class="circle">
  <p class="circle-content">
      <br />
      Solicitati acum o oferta de pret personalizata, contactand reprezentantii nostri din filiale!
      <br /> 
      <br /> 
      <br /> 
      <a href="/buttons/54">
  <button class="bn54">
    <span class="bn54span">Vezi catalog</span>
  </button>
</a>
      <br /><br />
     
  </p>
</div>
@*  <div id="carouselExampleDark" class="carousel carousel-fade" data-bs-ride="carousel" style="position:relative; float:right;  margin-right: 15vw; ">

  <div class="carousel-inner" >
    <div class="carousel-item active" data-bs-interval="3000" style="width:300px; height:300px;">
      <img src="~/Photos/ex1.jpg" class="d-block " alt="ex1"style="width:300px; height:300px; opacity: 0.8;">
      <div class="carousel-caption d-inline p-1 bg-dark bg-opacity-75 text-light" > 
        <p style="padding-top:10px;"> Product Name</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000" style="width:300px; height:300px;">
      <img src="~/Photos/ex2.jpg" class="d-block "alt="ex2"style="width:300px; height:300px;opacity: 0.8;" >  

       <div class="carousel-caption d-inline p-1 bg-dark bg-opacity-75 text-light  " >
        <p style="padding-top:10px;">Product Name</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000" style="width:300px; height:300px;" >
      <img src="~/Photos/ex3.jpg" class="d-block " alt="ex3"style="width:300px; height:300px;opacity: 0.8;">
      <div class="carousel-caption d-inline p-1 bg-dark bg-opacity-75 text-light   " >
        <p style="padding-top:10px;">Product Name</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  
  </button>
</div>  
    </div>
*@
   
    
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>


    </html>