@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');



body {
   
   
  
}

.content{
    display:grid;
   justify-content:center;
   position:relative;
   padding-top:5vh;
}
.containerIndex .text {
    color: #52688F;
    transition: 0.5s ease-in-out;
    text-align: center;
    text-decoration-line: overline;
    text-decoration-thickness: 5px;
    cursor: default;
    padding-top: 2vh;
}

    .containerIndex .text:hover {
        color: #5268fF;
        font-size: 42px;
    }



.box {
    height: 7rem;
    box-shadow: #9ecadb 0px 8px 24px, #2E8BC0 0px 16px 56px, #9ecadb 0px 24px 80px;
    position: relative;
}
.boxes {
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    margin-top:4vh;
   
}
    .boxes .box {
        position: relative;
        background: #7391C8;
        border-radius: 50%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        font-size: large;
    }
        .boxes .box:hover {
            transform: translateY(+10px);
            box-shadow: #52688F 0px 30px 60px -12px, #52688F 0px 18px 36px -18px;
        }

.carousel-item {
    transition: transform 0.7s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 1.5s;
}
.carousel-inner .carousel-item .carousel-caption {
    color: white;
    background-color: #52688F;
    width: fit-content;
    margin: 0 auto;
    padding: 3vh;
}
