@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

 

html {
    position: relative;
    min-height: 100%;
    font-family: 'Red Hat Display', sans-serif;
}
.containerIndex {
    height: 50vh;
    background-color: #9cd7f2;


    background-size: cover;
}



@media (min-width: 1200px) and (max-width: 1300px) {

    .nav-link{
        font-size:small;
    }
}


