@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

 

html {
    position: relative;
    min-height: 100%;
    font-family: 'Red Hat Display', sans-serif;
}
.containerBody {
    background-color: #00b4d8;
}
.containerIndex {
    height: 50vh;
    background-color: #00b4d8;
    background-size: cover;
}



@media (min-width: 1200px) and (max-width: 1300px) {

    .nav-link{
        font-size:10px;
    }
}


@media (min-width: 1300px) and (max-width: 1560px){
    .nav-link {
        font-size: 15px;
    }
}


